# {{ ansible_managed }}
# Documentation: https://certbot.eff.org/docs/using.html

email = {{ item.email }}

domains = {{item.main}}{%if item.additional_domains is defined %}, {{item.additional_domains | join(', ') }} {%endif%}

text

authenticator = webroot

webroot-path = {{item.root_dir}}

# При keep-until-expiring = True предпочтение отдаётся этой опции. Получаем Ошибку Too many certificates for example.com

#renew-by-default = True

agree-tos = True
{%if certbot_post_hook is defined %}
post-hook = {{ certbot_post_hook }}
{%endif%}

keep-until-expiring = True
